@font-face {
    font-family: "LatoBold";
    src: url("../fonts/Lato-Bold.ttf")
}

@font-face {
    font-family: "Simplifica";
    src: url("../fonts/Simplifica.ttf")
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Bold.ttf");
    src: url("../fonts/Raleway-Regular.ttf");
    src: url("../fonts/Raleway-SemiBold.ttf");
    src: url("../fonts/Raleway-Light.ttf");
    src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Rockwell";
    src: url('../fonts/ROCKB.TTF');
    src: url('../fonts/ROCK.TTF')
}